@media screen and (max-width:799px){
    .site-navigation, header #toggle .fa-times {
        display: none;
    }
    #main-nav-toggle:checked + header .site-navigation {
        display: block;
    }
    #main-nav-toggle:checked + header .site-navigation ul {
        display: block;
        flex: 1 0 100%;
        padding-bottom: 0.5em;
    }
    #main-nav-toggle:checked + header #toggle .fa-times {
        display: block;
    }
    #main-nav-toggle:checked + header #toggle .fa-bars {
        display: none;
    }
    #main-nav-toggle:checked + header #toggle span {
        display: none;
    }
}
@media screen and (min-width:800px){
    .site-navigation {
        margin: 1rem;
    }
}
@media screen and (min-width:1025px){
    .site-navigation ul {
        padding-right: 2rem;
    }
}

.site-navigation {
    padding-bottom: 0;
}

.site-navigation ul {
    padding: 0;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: nowrap;
}

.site-navigation li {
    text-align: center;
    display: block;
    list-style: none outside;
    margin: 0.5em;
    padding: 0.5rem 2rem;
    border: 1px solid var(--color-text-header, rgb(75, 214, 31));
    border-radius: 2rem;
    background: url("/picture-2.jpg");
}

.site-navigation li a {
    color: var(--color-text-header, rgb(75, 214, 31));
    text-decoration: none;
}
