@media screen and (min-width:800px){
    .site-header {
        text-align: center;
    }
    .site-header div {
        display: inline-block;
    }
    .site-header .menu {
        opacity: 0;
    }
}
@media screen and (max-width:1200px){
    .site-header {
        text-align: center;
    }
}
@media screen and (min-width:1200px){
    .site-header {
        display: flex;
        justify-content: space-between;
    }
    .site-header .menu {
        margin-top: 6rem;
    }
    .site-navigation {
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
}
.site-header {
    border-top: 2px solid var(--color-text-header, rgb(75, 214, 31));
    background: url("../picture-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0.5rem 1rem 4rem 0rem rgba(72, 191, 22,0.5);
}
.site-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    color: var(--color-text-header, rgb(75, 214, 31));
}

#main-nav-toggle{
    display: none;
}

.site-header .menu {
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 2em;
    display: block;
    flex-direction: column;
    color: var(--color-text-header, rgb(75, 214, 31));
}
.fas {  
    padding: 0.5rem;
}


