$formWidth: 90%;
$fontSize: var(--font-size-initial,12px);

@media screen and (min-width: 500px){
	$fontSize: var(--font-size-initial-lv2,14px);
	$formWidth: 70%;
}

@media screen and (min-width: 700px){
	$fontSize: var(--font-size-initial-lv3,16px);
	$formWidth:55%
}

@media screen and (min-width: 1600px){
	$fontSize: var(--font-size-initial-lv4,18px);
	$formWidth: 40%;
}
 
.form {

	&, &-registration {
	width: $formWidth;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 3rem 0 4rem 0;
	}

	& fieldset {
		animation: sliden 1s 1 both;

		

	}
	 

	&-registration fieldset {
		animation: slidenX 1s 1 both;
	}

}

fieldset {
	font-weight: 800;
	color: var(--color-text-header, rgb(72, 191, 22));	
	padding: var(--spacing-site, 2em);
	

	&, .legend-title, input {
		padding: 0.2rem 2rem;
		background: var(--background-lv2, url("../picture-2.jpg"));
		background-size: cover;
		background-repeat: no-repeat;
		border: 2px solid var(--color-text-header, rgb(72, 191, 22));
		border-radius: var(--spacing-site, 2em);
	}

	input {
		&:not(:nth-child(1)){
		width: 100%;
		}

		&:hover,
		&:focus {
			background: var(--background-lv1, url("../picture-3.jpg"));
    		background-size: cover;
			text-decoration: none;
		}
	}

	p {
		padding-top: 2rem;		
	}

}

.registration a:nth-child(2) {
	padding-left: 1rem;
}
.registration { 
	margin: 0;
	padding-top: 0;
	display: flex;
	justify-content: center;
	font-weight: 400;
	font-style: italic;
	font-size: calc($fontSize - 2px);

	a {
		color: var(--color-text-header, rgb(75, 214, 31));

		&:hover,
		&:focus {
			color: var(--color-text-hoover, rgb(44, 76, 48));
		}
		
	}

}

#password {
	margin-left: 0.25rem;
}

.submit {
	text-align: center;

	.button {
		margin: 0;
		padding: 0.3rem 1.5rem;

		&:hover,
		&:focus {
			border: 2px solid var(--color-text-header, rgb(75, 214, 31));
			color: var(--color-text-header, rgb(75, 214, 31));
		}
	}
}


