html {
    background: var(--background-lv1, url("../picture-3.jpg"));
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    color: var(--color-text-main, #000);
}

.site {
    background: rgba(255, 255, 255, 0.45);
    padding: var(--spacing-site, 2em);
}