@media screen and (max-width: 959px) {

    .site-navigation, header #toggle .fa-times {
        display: none;
    }

    #main-nav-toggle:checked + header {

        .site-navigation {
            display: block;

            ul {
                display: block;
                flex: 1 0 100%;
                padding-bottom: 0.5em;
            }

        }

        #toggle {

            .fa-times {
                display: block;
            }

            .fa-bars, span {
                display: none;
            }

        }

    }

}
  
@media screen and (min-width: 960px) {

    .site-navigation {
        margin: 1rem;
    }

}
  
@media screen and (min-width: 1025px) {

    .site-navigation ul {
        padding-right: 2rem;
    }

}
  
.site-navigation {
    padding-bottom: 0;

    ul {
        padding: 0;
        margin: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: nowrap;
    }

    li {
        text-align: center;
        display: block;
        list-style: none outside;
        margin: 0.5em;
        border: 1px solid var(--color-text-header, rgb(75, 214, 31));
        border-radius: 2rem;
        background: var(--background-lv2, url("../picture-2.jpg"));
        background-size: cover;
        padding: 0.7em;

        a {
            color: var(--color-text-header, rgb(75, 214, 31));
            text-decoration: none;
            padding: 2rem;
            font-weight: bold;
        }

        &:hover, &:focus {
            background: var(--background-lv1, url("../picture-3.jpg"));
            background-size: cover;
            
        }

        a {
            
            &:hover, &:focus {
                color: var(--color-text-header, rgb(75, 214, 31));
            }

        }

    }

}