
@media screen and (min-width:620px){
    .site-footer {
        display: flex; 
    }
    .footer-nav-toggle{
        border-left: 2px solid var(--color-text-header, rgb(72, 191, 22));
    }

    .footer-title {
        width: 100%;
        border: none;
    }
}

@media screen and (max-width:620px){
    .footer-title {
        margin: 0;
    }

    .footer-nav-toggle{
        margin: 0;
    }
    .footer-title {
        border-bottom: 2px solid var(--color-text-header, rgb(72, 191, 22));
    }
}

.site-footer {
    background: #2C4C30;
    border-bottom: 2px solid var(--color-text-header, rgb(72, 191, 22));
    box-shadow: 0.5rem -0.5rem 2.5rem 0.5rem rgba(72, 191, 22,0.5);
    color: var(--color-text-header, rgb(72, 191, 22));
}

.site-footer div {
    padding: 1rem;
}

.site-footer a {
    color: var(--color-text-header, rgb(72, 191, 22));
    text-decoration: none;
}

.footer-title {
    text-align: center;
    background: url("../animals-2924020_1280.png");
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

#phone-toggle {
    display: flex;
    flex-wrap: wrap;
}

.footer-nav-toggle{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#public-navigation {
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

#public-navigation i {
    margin-left: 1rem;
}

.site-footer a:hover,
.site-footer a:focus {
    color:black;
    text-decoration:underline;
}

#facebook:hover,
#facebook:focus {
    color: #0C2653;
}

#twitter:hover,
#twitter:focus {
    color: #498AF4;
}
#google-plus:hover,
#google-plus:focus {
    color: #EC392A;
}

